In [1]:
import pandas as pd

In [2]:
# The path to our CSV file
file = "Resources/KickstarterData.csv"

# Read our Kickstarter data into pandas
df = pd.read_csv(file)
df.head()

,id,photo,name,blurb,goal,pledged,state,slug,disable_communication,country,...,location,category,profile,spotlight,urls,source_url,friends,is_starred,is_backing,permissions
0,1645666704,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",The Class Act Players Theatre Company Presents...,The Class Act Players put on another one of th...,1500.0,2925.0,successful,the-class-act-players-theatre-company-presents...,False,US,...,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
1,874638240,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,"A brand new play about love and entitlement, b...",2500.0,2936.0,successful,mr-incredible-by-camilla-whitehill-vault-festival,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
2,247074984,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",RUN,Yonni's pissed off in a world filled with scho...,1000.0,1200.0,successful,run-10,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
3,1941196813,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",9th International Meeting of Youth Theatre sap...,27. April bis 1. Mai 2016 in Brixen/Südtirol/I...,2000.0,2135.0,successful,9th-international-meeting-of-youth-theatre-sap...,False,IT,...,"{""country"":""IT"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
4,421961595,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",Get Conti to the Ed Fringe!,The Italia Conti 2nd years are going to Ed Fri...,1000.0,1250.0,successful,get-conti-to-the-ed-fringe,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN

In [3]:
# Get a list of all of our columns for easy reference
df.columns

Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'currency', 'currency_symbol',
       'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'is_starrable', 'backers_count',
       'static_usd_rate', 'usd_pledged', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')

In [14]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"
extract = df.loc[:, ["name", "goal", "pledged", "state", "country", "staff_pick", "backers_count", "spotlight"]]

extract.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [15]:
# Remove projects that made no money at all
extract = extract.loc[(extract["pledged"] > 0)]
extract

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True
...,...,...,...,...,...,...,...,...
4115,Bring Love's Labour's Lost to Minnesota,25000.0,25388.0,successful,US,True,213,True
4116,Score,300.0,340.0,successful,GB,False,17,True
4117,"""The Santaland Diaries"" by David Sedaris in Lo...",6000.0,7140.0,successful,US,False,108,True
4118,REBATEnsemble Presents: ICONS - The Martin Show,300.0,312.0,successful,US,False,6,True
4119,Licensed To Ill,3000.0,3084.0,successful,GB,False,78,True

In [16]:
# Collect only those projects that were hosted in the US

# Create a list of the columns
col_list = ["name", "goal", "pledged", "state", "country", "staff_pick", "backers_count", "spotlight"]

# Create a new df for "US" with the columns above. 
us_df = extract.loc[extract["country"] == "US", col_list]
us_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True
14,Pride Con,15000.0,15110.0,successful,US,False,60,True
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True

In [21]:
# Create a new column that finds the average amount pledged to a project
#avgDonation = us_df["pledged"] / us_df["backers_count"]
us_df["Average Donation"] = us_df["pledged"] / us_df["backers_count"]
us_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,Average Donation
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True,172.058824
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True,106.323529
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True,76.537879
14,Pride Con,15000.0,15110.0,successful,US,False,60,True,251.833333
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True,128.825000

In [22]:
# First convert "average_donation", "goal", and "pledged" columns to float
# Then Format to go to two decimal places, include a dollar sign, and use comma notation
us_df["goal"] = us_df["goal"].astype(float).map("${:,.2f}".format)
us_df["pledged"] = us_df["pledged"].astype(float).map("${:,.2f}".format)
us_df["Average Donation"] = us_df["Average Donation"].astype(float).map("${:,.2f}".format)
us_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,Average Donation
0,The Class Act Players Theatre Company Presents...,"$1,500.00","$2,925.00",successful,US,False,17,True,$172.06
8,Forefront Festival 2015,"$7,200.00","$7,230.00",successful,US,False,68,True,$106.32
11,Hamlet the Hip-Hopera,"$9,747.00","$10,103.00",successful,US,True,132,True,$76.54
14,Pride Con,"$15,000.00","$15,110.00",successful,US,False,60,True,$251.83
15,En Garde Arts Emerging Artists Festival BOSSS,"$10,000.00","$10,306.00",successful,US,True,80,True,$128.82

In [27]:
# Calculate the total number of backers for all US projects
us_df["backers"].sum()

KeyError: 'backers'

In [28]:
# Calculate the average number of backers for all US projects
us_df["backers"].mean()

KeyError: 'backers'

In [25]:
# Collect only those US campaigns that have been picked as a "Staff Pick"
us_df = extract.loc[extract["staff_pick"] == True]
us_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.00,successful,GB,True,15,True
11,Hamlet the Hip-Hopera,9747.0,10103.00,successful,US,True,132,True
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.00,successful,US,True,80,True
24,CASA Latin American Theatre Festival 2015,7500.0,7503.77,successful,GB,True,117,True
35,Billy Through the Window,2500.0,2605.00,successful,GB,True,66,True

In [24]:
# Group by the state of the campaigns and see if staff picks matter (Seems to matter quite a bit)
groups = us_df.groupby("state")
groups["goal"].count()

state
canceled       216
failed        1123
live            13
successful     775
suspended        2
Name: goal, dtype: int64